// toc
@text-color-main:        #333;
@toc-bg-color:           rgba(218, 165, 32, 0.95);
@toc-color-li:           #000000;
@toc-color-a:            #000000;
@toc-tog-color-fg:       #000000;
@toc-tog-color-bg:       #8B4513;
@toc-tog-color-bd:       #800000;
@toc-itm-open-img:       url('../images/close.gif');
@toc-itm-clos-img:       url('../images/open.gif' );
