.left { float:left; } 
.right { float:right; } 
/* */ 
.center { width: auto; display: table; margin-left: auto; margin-right: auto; }

#photo-frame>.modal-dialog { width: 95%; }

.widget { margin: auto; }

.widget h2, {
	text-align: left;
	margin: auto;
	padding: 10px 5px;
	padding-left: 15px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 200;
	font-size: 14pt;
	letter-spacing: 0.01em;
	line-height: 13pt;
	background: #6D3D1B;
	border: 1px solid #803530;
	box-shadow: inset 0px 0px 10px RGBA(0,0,0,0.2), 0px 5px 0px RGBA(0,0,0,0.4);
}

.widget-content	{
	overflow: hidden;
	margin-bottom: 15px;
	padding: 20px;
	font-weight: 300;
	font-size: 8pt;
	letter-spacing: 0.02em;
	line-height: 20px;
	background: #A86E48;
	border: 1px solid #803530;
	color: #fff;
	box-shadow: inset 0px 0px 10px RGBA(0,0,0,0.4), 0px 5px 0px RGBA(0,0,0,0.4);
}
.widget-item-control {
	float: right;
	height: 20px;
	margin-top: -20px;
	position: relative;
	z-index: 10;
}
.img-text-lst {
	line-height: 2.0;
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	outline: none;
}

.img-text-lst ul {
	line-height: 2.0;
}
.img-text-lst li {
	border-bottom: 1px dashed #6D3D1B;
	padding: .7em 0;
	margin: 0;
	vertical-align: baseline;
	outline: none;
}

.img-text-lst div {
	margin: 0;
	padding: 0;
	padding-bottom: 0px;
	vertical-align: baseline;
	outline: none;
}

.img-text-lst  ul li a:link, 
.img-text-lst  ul li a:visited, 
.img-text-lst  ul li a:link, 
{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	font-size: 12pt;
	letter-spacing: 0.01em;
	line-height: 24pt;
	font-smooth: always;
	color: #FFFFAA;
	font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-weight: 200;
	letter-spacing: 0.01em;
}


div.item-thumbnail-only {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	outline: none;
}

.item-thumbnail {
	float: left;
	margin: 0 5px 5px 0;
	height: 72px;
	padding: 5px;
	outline: none;
}

.PopularPosts img {
	padding: 0px;
	border-radius: 5px;
	-webkit-filter: saturate(0.0);
	-moz-filter: saturate(0.0);
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.PopularPosts img:hover {
	-webkit-filter: saturate(1.1);
	-moz-filter: saturate(1.1);
}
.PopularPosts .item-title {
	padding-bottom: .2em;
}
.item-title a {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	font-size: 12pt;
	letter-spacing: 0.01em;
	line-height: 24pt;
	font-smooth: always;
	color: #FFFFAA;
	font-weight: 200;
	letter-spacing: 0.01em;
	margin: 0;
	padding: 0;
	padding-bottom: 0px;
	vertical-align: baseline;
	outline: none;
}
.item-title a:visited {
	color: #FFFFAA;
}
.item-title a:hover {
	color: #FFFF55;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
}
