div#sandtable-body {
	overflow: scroll;
}

div.float-window {
	width: 300px;
	height: 160px;
	border: 1px solid #803530;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, .2), 10px 0 5px rgba(0, 0, 0, .4);
	background-image: url(http://www.jade-dungeon.net:8081/jadeutils.v2/themes/hobbit/images/toc-bg.jpg);
	top: 100px;
	right: 10px;
	position: fixed;
	z-index: 100;
}

div.float-window>.title-bar {
	width: 100%;
	height: 45px;
	padding: 5px 10px;
	color: #000;
	background: #8B4513;
	border: 1px solid #803530;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, .2);
	text-align: center;
	font-size: 1.3em;
	line-height: 1.5em;
	font-weight: 200;
	letter-spacing: .01em;
}